<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Restaurant!</title>
	<meta http-equiv="Content-Type" : content="text/html; charset=UTF-8" />
	<link href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<div th:replace="fragments/navbar :: navbar"></div>
 <div class="container">
	<div class="container">
	<h1>Welcome to our Site!</h1>
		<div class="row">
			<div th:each="store:${restaurants}">
				<div class="col-md-6">
					<div class="panel panel-default">
					<div class="panel-heading">
					<p th:text="${store.name}" />
					</div>
					<div class="panel-body">
					<p th:text="${store.owner}"/>
					<p th:text="${store.address}"/>
					<p th:text="${store.phoneNumber}" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	<a th:href="@{/new}"><button class= "btn btn-success">
	Submit a New Restaurant! </button></a>
				
</div>


	<script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
	</body>
	</html>