<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Restaurant!</title>
	<meta http-equiv="Content-Type" : content="text/html; charset=UTF-8" />
	<link href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="container">
	<h1>Welcome to our Site!</h1>
	
	<p>Please add in your favorite restaurant:</p>
 <form action="#" th:action="@{/new}" th:object="${restaurant}" method="post">
      	
      	<div class="form-group">
	    <input type="text" class="form-control" placeholder="Restaurant Name" th:field="*{name}" />
	    <br/>
	    
	    <input type="text" class="form-control" placeholder="Owner Name...." th:field="*{owner}" />
		<br/>
	
	    <input type="tel" class="form-control" placeholder="Phone Number" th:field="*{phoneNumber}" />
		<br/>
	    <input type="text" class="form-control" placeholder="Address" th:field="*{address}" />
		<br/>
	    <button class="btn btn-primary">Submit Your Restaurant</button>
    </div>
</form>
</div>


	<script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
	</body>
	</html>